*{
    font-family: 'Spline Sans';
}

.btn {
    border-radius: 50px;

}

.btn-gray {
    background-color: $gray-200;
}

.btn-primary {
    color: $white;

    &:hover {
        color: $white;
    }
}

a {
    color: $dark;
    font-weight: bold;
    text-decoration: none;
}