.buttonCategories {
    width: 100%;

    .title-categories {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        color: #333333;
    }

    &__item {
        position: relative;
        display: inline-block;

        &-img {
            width: 280px;
            height: 100px;
            filter: drop-shadow(1px 1px 8px rgba(0, 0, 0, 0.05));
            border-radius: 50px;
        }

        &-text {
            position: absolute;
            top: 50%;
            left: 45%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: white;
            font-size: 18px;
            font-weight: bold;
        }
    }

}