.cardSessionPassword{
    width: 409px;
    height: 585px;
    background: #F5F0ED;
    border-radius: 24px;

    .btn-close-session{
        position: absolute;
        right: 10px;
        top: 30px;
    }

    .title-new-password{
        font-style: normal;
        font-weight: 600;
        font-size: 34px;
        line-height: 105.5%;
        text-align: center;
        color: #333333;
    }

    .img-session-password{
        width: 64px;
        height: 64px;
    }

    .name-count{
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 20px;
    }

    .email-text{
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 15px;
    }

    .img-session-password{
        border-radius: 50px;
    }

        ::placeholder { 
            content: "Ingresa tu nombre aquí" !important;
        }

        .border-btn-valid{
            border: 1px solid #fff;
        }

        .border-password-valid{
            height: 50px;
            border-radius: 20px;
            border: 1px solid #CEC6E8!important;
            outline: none;
        }

        .span-alert-card{
            color: #E72727;
            font-size: .8em;
            margin-left: 12px;
        }

        .border-email {
            height: 50px;
            width: 307px !important;
            border-radius: 20px;
            border: 1px solid #fff !important;
            outline: none;
            color: transparent;
        }
    
        .border-email-gray{
            border: 1px solid #CEC6E8!important;
        }
    
        .border-password-valid{
            height: 50px;
            border-radius: 20px;
            border: 1px solid #CEC6E8!important;
            outline: none;
        }
        

        .alert-input-danger {
            width: 307px !important;
            height: 52px;
            border-radius: 20px;
            border: 1px solid #dd090941 !important;
            background-color: #F2C3BE;
            color: #000;
            outline: none;
        }

        .view-password-session{
            position: absolute !important;
            margin-top: 20px !important;
            left: 7rem !important;
        }

        .log {
            font-size: 1.2em;
            color: #5726F9 ;
            background-color: #EDE6EE;
            width: 150px;
        }

        .btn-password{
            width: 307px;
        }

        .count-text{
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #333333;
        }
    
        .btn-text-log{
            background: #EDE6EE;
            border-radius: 11px;
            width: 113px;
            height: 30px;
    
            .text-ini{
                display: flex;
                margin-left: 12px;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #5726F9;
            }
        }
}