.cardSessionNewPassword{
    background-color: #F5F0ED;
    text-align: center;
    width: 100%;
    height: 105vh;

    .container-NewPassword{
        width: 350px;
    }
    
    .new-password-text {
        font-style: normal;
        font-weight: 300;
        font-size: 15.0347px;
        line-height: 18px;
        margin-bottom: 5px;
        color: #736E6E;
    }

    .input-wrapper .iconLeft svg{
        padding-left: 1rem !important;
        
    }

    ::placeholder { 
        color: #736E6E; 
        font-style: normal;
        font-weight: 300;
        font-size: 17px;
        line-height: 20px;
        color: #736E6E;
    }

    .input-wrapper .input{
        padding-left: 2rem !important;
    }

    .icon-new-password{
        margin-top: 10px;
        margin-left: 6rem !important;
    }

    .span-alert-card{
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        color: #E72727;
    }

    .border-email {
        height: 50px;
        border-radius: 20px;
        border: 1px solid #fff !important;
        outline: none;
    }

    .border-email-gray{
        border: 1px solid #CEC6E8!important;
    }

    .border-password-valid{
        height: 50px;
        border-radius: 20px;
        border: 1px solid #CEC6E8!important;
        outline: none;
    }

    .alert-input-danger {
        height: 50px;
        border-radius: 20px;
        border: 1px solid #dd090941;
        background-color: #F2C3BE;
        color: #000;
        outline: none;
    }

    .border-white{
        border: 1px solid #fff;
        outline: none;  
    }

    .text-btn{
        width: 300px;
        height: 52px;
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 23px;
        text-align: center;
    }

}

