.cardRegisterValid {
    width: 409px;
    height: 585px;
    background: #F5F0ED;
    border-radius: 24px;

    .title-register {
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        color: #333333;
        padding-top: 20px !important;
    }

    .btn-close-register {
        position: absolute;
        right: 1rem;
        bottom: 5px;
    }

    .input-wrapper .input {
        font-style: normal;
        font-weight: 300;
        font-size: 17px;
        line-height: 20px;
    }

    .border-email {
        height: 50px;
        border-radius: 20px;
        border: 1px solid #fff !important;
        outline: none;
    }

    .border-email-gray{
        border: 1px solid #CEC6E8!important;
    }

    .border-password-valid{
        height: 50px;
        border-radius: 20px;
        border: 1px solid #CEC6E8!important;
        outline: none;
    }

    .input-email-blue {
        color: #5726F9 !important;

    }

    .alert-input-danger {
        height: 50px;
        border-radius: 20px;
        border: 1px solid #dd090941;
        background-color: #F2C3BE;
        color: #000;
        outline: none;
    }

    .alert-input-valid {
        background-color: rgb(206, 239, 206);
    }


    .btn-session {
        width: 307px;
        height: 52px;
        background: #F9A823;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 39px;

        .text-continue {
            font-style: normal;
            font-weight: 400;
            font-size: 19px;
            line-height: 23px;
            text-align: center;
        }
    }

    .btn-session-dark {
        width: 307px;
        height: 52px;
        background: #020202;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 39px;

        .text-continue {
            font-style: normal;
            font-weight: 400;
            font-size: 19px;
            line-height: 23px;
            text-align: center;
        }
    }

    .btn-continue {
        height: 50px;
    }

    .line-center {
        width: 90px;
    }

    .btn-social {
        border: 0;
        border-radius: 15px;

        .btn-facebook {
            background-color: rgb(67, 44, 170);
            border-radius: 30px;
            color: #fff;
            font-size: 1.4em;
            height: 35px;
            width: 35px;
        }

    }

    .text-terminos {
        font-size: .7em;
    }


    .count-text {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #333333;
    }

    .btn-text-log {
        background: #EDE6EE;
        border-radius: 11px;
        width: 113px;
        height: 30px;

        .text-ini {
            display: flex;
            align-items: center;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: #5726F9;
        }
    }
}