
.carouselCategories{
    .carousel-control-prev-icon {
        background-color: red;
    }

    .img-categories {

        height: 60px;
        width: 30px;
    }
}

.caruselServices {
    .slick-next {
        right: 15px;
    }

    .slick-prev::before {
        color: $dark;
        font-size: 2rem;
    }

    .slick-next::before {
        color: $dark;
        font-size: 2rem;
    }
}