.categoriItem {
    &__containerImg {
        height: 30px;

        &-img {
            height: 100%;
        }
    }
}


@media only screen and (max-width: 768px) {
    .categoriItem {
        &__containerImg {
            height: 40px;

            &-img {
                height: 100%;
                width: auto;
            }
        }
    }
}