.footer {
    background-color: #FFFFFF;

    .footer-text{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

        color: #333333;
    }
    .text-footer-line{
        border-bottom: 1px solid #000 !important;
    }
}