.ReactModal__Overlay--after-open{
    z-index: 10;
}
.modal{
    background: #00000000;
    top: 50%;
    left: 50%;
    right: 'auto';
    bottom: 'auto';
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 16px;
    z-index: 10000;
    //box-shadow: 5px 5px 25px 2px rgba(0, 0, 0, 0.7);
}

.ReactModal__Body--open {
    overflow: hidden;
  }