.profile-modal{
    //modal
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    border-radius: 23px;
    width: 465px;
    height: 672px; 
    
    
    .font-title{
        font-style: normal;
        font-weight: 500;
        font-size: 21px;
        line-height: 25px;
        text-align: center;

        color: #727171;
    }

    .img-profile-upload{
        border-radius: 60px;
        width: 108px;
        height: 108px;
        box-sizing: border-box;
    }

    .img-profile-pre{
        border-radius: 55px;
        width: 4rem;
        height: 4rem;

    }

    .input-upload-profile-img{
        opacity: 0;
        padding: 1rem; 
        position: absolute;
        padding-top: 3rem;
        width: 300px; 
        left: 170px;
    }

    .input-upload-profile{
        opacity: 0;
        position: absolute;
        width: 100px;
        left: 100px;
        height: 13vh;
    }

    .border-primary-profile{
        border-radius: 60px;
        width: 108px;
        height: 108px;
        box-sizing: border-box;
        border: 1px solid #F9A823 ;
    }


    .color-btn-action{
        width: 109px;
        height: 38px;
        background: #E5E5E5;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.05);
        border-radius: 11px;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        color: #333333;
    }

    .color-btn-pre{
        background-color: #E5E5E5;
        height: 4rem;
        width: 4rem;
        border-radius: 30px;
    }

    .text-profile {
        font-size: .9em;
    }

    .submit-profile{
        font-style: normal;
        font-weight: 500;
        font-size: 23px;
        line-height: 27px;
        text-align: center;

        color: #736E6E;
    }

    .orange-button{
        color: #F9A823;
    }
}