.profileImg {
    font-family: 'Spline Sans';

    //Section Img
    .content-img-profile {
        background: #FDFAF9;
        border: 4px solid #FFFFFF;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05), inset 0px 0px 28px 3px rgba(250, 245, 243, 0.05);
        border-radius: 11px;
        width: 796px;
        height: 635px;

        .text-profile-tittle {
            font-style: normal;
            font-weight: 400;
            font-size: 26px;
            line-height: 31px;
            text-align: center;
            color: #736E6E;
        }
    }

    .containerImg .imgWithData {
        border-radius: 50%;
        width: 210px;
        height: 210px;

    }

    .border-profile {
        border-bottom: 0.5px solid #736E6E;
        
    }

    .title-profile {
        font-weight: 500;
        margin-left: 4rem;
    }

    .img-profile {
        position: absolute;
        right: 64rem;
        width: 10rem;
        height: 10rem;
    }

    //Input

    .input-wrapper .input {
        padding-left: 2rem !important;
    }

    .border-email {
        width: 311px;
        height: 56px;
        border-radius: 20px;
        border: 1px solid #fff;
        outline: none;
    }

    .border-email:focus {
        border: 1px solid #CEC6E8;
    }

    .border-email:active {
        border: 1px solid #CEC6E8 !important;
    }

    .alert-input-danger {
        height: 50px;
        border-radius: 20px;
        border: 1px solid #dd090941;
        background-color: #F2C3BE;
        color: #000;
        outline: none;
    }

    .color-btn-action {
        height: 5hv;
        background-color: #c21010;
        border-radius: 15px;
    }

    .color-btn-pre {
        background-color: #E5E5E5;
        height: 4rem;
        width: 4rem;
        border-radius: 30px;
    }

    .more {
        position: absolute;
        left: 16rem;
        bottom: 3rem;
        color: #fff;
        height: 2.8rem;
        width: 2.8rem;
    }

    .text-profile {
        font-size: .9em;
    }

    .button-profile{
        width: 315px !important;
        height: 68px;
        background: #333;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 39px;
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 27px;
        text-align: center;
        margin-top: 3rem;
    }

    .button-profile-primary{
        width: 315px;
        height: 68px;
        background: #F9A823;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 39px;
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 27px;
        text-align: center;
        margin-top: 3rem;
    }
}